.about-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  .title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .what-we-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    .offers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .missions {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }
}
