// body,
// html,
// #root {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // background-color: #050b20;
//   color: white;
// }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  // overflow-x: hidden; /* Prevent horizontal scroll */
}
.main-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
