.homepage {
  // background-color: #ffffff;
  background: #ecffc1;
  background: -webkit-linear-gradient(
    0deg,
    #ecffc1 0%,
    #ffe6cc 50%,
    #dfbaf7 100%
  );
  background: linear-gradient(0deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #050b20;

  .section {
    // padding-top: 48px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
