.restaurant-detail {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ecffc1;
  background: -webkit-linear-gradient(
    0deg,
    #ecffc1 0%,
    #ffe6cc 50%,
    #dfbaf7 100%
  );
  background: linear-gradient(0deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
}
