.profile-content {
  background: #ecffc1;
  background: -webkit-linear-gradient(
    0deg,
    #ecffc1 0%,
    #ffe6cc 50%,
    #dfbaf7 100%
  );
  background: linear-gradient(0deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   justify-content: center;
  //   gap: 2rem;
  .profile-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  .profile-details-container {
    margin: 16px;
    padding: 20px;
    border-radius: 8px;
    min-width: 400px;
    background: rgba(245, 245, 220, 0.6); /* Beige */
    border: 1px solid rgba(210, 210, 200, 0.3);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .profile-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-left: 16px;
      }
    }
  }
  .tabs {
    width: 100%;
    .favourites {
      width: calc(100% - 40px); /* 20px left + 20px right */
      margin: 16px;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 8px;
      // min-width: 400px;
      background: rgba(245, 245, 220, 0.6); /* Beige */
      border: 1px solid rgba(210, 210, 200, 0.3);

      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
    }
    .my-reviews {
      width: calc(100% - 40px); /* 20px left + 20px right */
      margin: 16px;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 8px;
      // min-width: 400px;
      background: rgba(245, 245, 220, 0.6); /* Beige */
      border: 1px solid rgba(210, 210, 200, 0.3);

      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      .grid {
        display: flex;
        // flex-direction: column;
      }
    }
  }

  .error {
    color: red;
    font-size: 12px;
  }
}
